<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>
  <head>
    <title>Encryption</title>
  </head>
  <body>
    <form action="/register" method="post">
      <div class="login">
        <div class="login-screen">
          <div class="app-title">
            <h1>Encrypt<span style="color:#FC4A1A">IT</span></h1>
          </div>
          <div class="login-form">
            <div class="control-group">
              <input type="username" class="login-field" placeholder="Username" name="username" required="true"></input>
            </div>
            <div class="control-group">
              <input type="password" class="login-field" placeholder="Password" name="password" required="true"></input>
            </div>
            <br>
            <input type="submit" name="submit" value="Register" class="btn btn-primary btn-large btn-block"></input>
            <input type="submit" name="submit" formnovalidate="true" value="Back" class="btn btn2 btn-primary btn-large btn-block"></input>
            <br>
            {% if error %}
              <div class="error">
                Error: {{ error }}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
