<link rel="stylesheet" href="/static/style.css" type="text/css">
{% if session['logged_in'] %}
<html>
  <head>
    <title>Encryption</title>
  </head>
  <body>
    <div style="overflow-y:auto;">
      <div class="login">
        <div class="login-screen">
          <div class="app-title">
            <h1>Encrypt<span style="color:#FC4A1A">IT</span></h1>
          </div>
          <table class="table-fill">
            <thead>
              <tr>
                <th class="text-left">Websites</th>
                <th class="text-left">Passwords</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              {% for website in websites %}
              <tr>
                <td class="text-left"> {{ website }} </th>
                <td class="text-left"> {{ passwords[loop.index0] }} </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <form action="/user" method="post">
            <input type="submit" name="submit" value="Add Website" class="btn btn-primary btn-large btn-block"></input>
            <input type="submit" name="submit" value="Logout" class="btn btn2 btn-primary btn-large btn-block"></input>
            <br>
            {% if error %}
              <div class="error">
                Error: {{ error }}
            {% endif %}
          </div>
          </form>
      </div>
    </div>
  </div>
  </body>
</html>
{% else %}
<p>You are already logged in!</p>
{% endif %}
